<table>
    <thead>
        <tr class="text-primary">
            <th scope="col">Sr No</th>
            <th scope="col" *ngFor="let col of columns">
                {{col.label}}
            </th>
        </tr>
    </thead>
    <tbody *ngIf="data && data.length  > 0;else noData">
        <!-- <ng-container *ngFor="let i=index;let item of data | search : filter.value:options['activeTab'];"> -->
        <ng-container *ngFor="let i=index;let item of data">
            <tr>
                <td> {{i + 1}}</td>
                <ng-container *ngFor="let col of columns">
                    <td *ngIf="col.key !== 'actions'"> {{item[col.key]}} </td>
                    <td class="user-table" *ngIf="col.key === 'actions'">
                        <a class="mx-1" type="button" *ngIf="col.isEdit" (click)="onRowClick(item, 'edit')">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <a class="mx-1" type="button" *ngIf="col.isDelete" (click)="onRowClick(item, 'delete')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </ng-container>
            </tr>
        </ng-container>
    </tbody>
</table>

<ng-template #noData>
    <div class="p-3 box-black border-radius text-white">
        No records found
    </div>
</ng-template>