<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper" style="height: 100vh;width: 10rem;">
        <div class="list-group list-group-flush">
            <a routerLink="/dashboard" class="list-group-item list-group-item-action bg-light">Register</a>
            <a routerLink="/list" class="list-group-item list-group-item-action bg-light">List</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="w-100">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a routerLink="/dashboard" class="nav-link pointer">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid w-100">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>