<div class="row d-flex justify-content-center mt-5">

    <div class="col-md-7">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link pointer" [ngClass]="!isLogin ? 'active' :false" (click)="isLogin = false">Login
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link pointer" [ngClass]="isLogin ? 'active' :false" (click)="isLogin = true">Register</a>
            </li>

        </ul>
        <form [formGroup]="form">

            <div class="input-group mb-3 d-flex flex-column">

                <ng-container>
                    <input type="text" formControlName="username" class="form-control w-100 my-1"
                        placeholder="User name">
                    <p class="text-danger" *ngIf="form.controls['username'].invalid && ( form.controls['username'].dirty || 
                    form.controls['username'].touched)">
                        Please enter valid username</p>
                </ng-container>


                <input type="email" *ngIf="isLogin" formControlName="email" class="form-control w-100 my-1"
                    placeholder="Email">
                <p class="text-danger" *ngIf="form.controls['email'].invalid && ( form.controls['email'].dirty || 
                form.controls['email'].touched)">
                    Please enter valid email</p>

                <ng-container *ngIf="isLogin">
                    <input type="text" formControlName="city" class="form-control w-100 my-1" placeholder="City">
                    <p class="text-danger" *ngIf="form.controls['city'].invalid && ( form.controls['city'].dirty || 
                    form.controls['city'].touched)">
                        Please enter valid city</p>
                </ng-container>

                <ng-container *ngIf="isLogin">
                    <input type="text" formControlName="phone" class="form-control w-100 my-1" placeholder="Phone">
                    <p class="text-danger" *ngIf="form.controls['phone'].invalid && ( form.controls['phone'].dirty || 
                    form.controls['phone'].touched)">
                        Please enter 10 digit phone number</p>
                </ng-container>


                <input type="password" formControlName="password" class="form-control w-100 my-1"
                    placeholder="Password">
                <p class="text-danger" *ngIf="form.controls['password'].invalid && ( form.controls['password'].dirty || 
                    form.controls['password'].touched)">
                    Please enter valid password</p>

                <ng-container *ngIf="isLogin">
                    <input type="password"  formControlName="cpassword" class="form-control w-100 my-1"
                        placeholder="Confirm Password">

                    <p class="text-danger"
                        *ngIf="form.controls['cpassword'].invalid && ( form.controls['cpassword'].dirty || 
                    form.controls['cpassword'].touched && (form.controls['cpassword'].value === form.controls['password'].value))">
                        Passwords do not match</p>
                </ng-container>

            </div>

            <div class="text-center">
                <button class="btn btn-primary" [disabled]="!getIsDisabled()" (click)="onSubmit()">
                    {{isLogin ? 'Login' : 'Submit'}}
                </button>
            </div>

        </form>
    </div>

</div>